{% extends 'base.html.twig' %}


{% block body %}

<main>
                    <!-- DataTales Example -->
    <header class="site-header d-flex flex-column justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 col-12 mb-5">
                    <h2 class="text-white">N'hésitez pas à prendre ce dont vous avez besoin</h2>
                </div>
                <div class="col-lg-5 col-12" style="display: flex; align-items: center; justify-content: center;">
                    <div class="topics-detail-block bg-white shadow-lg" style="text-align: center;"><img src="/images/logo.png" class="topics-detail-block-image img-fluid" style="width: 70%; height: 70%;" alt="logo"></div>
                </div>
            </div>
        </div>
    </header>
    <section class="explore-section section-padding" id="section_2">
    <div class="col-20 text-center">
        <form  method="GET" class="mb-4"> <!-- Ajout de la classe "mb-4" pour une marge inférieure de 4 unités -->
            <input type="text" name="name_med" placeholder="Rechercher par Nom de medicament">
            <button type="submit">Rechercher</button>
        </form>
        <h1 class="m-0 font-weight-bold text-primary">les Medicaments existantes</h1>
    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Description</th>

                                        <th>Image</th>

                                        <th>Catégorie</th>

                                        <th>Voudriez-vous le prendre ?</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for medicament in medicaments  %}
                                        <tr>
                                            <td>{{ medicament.name }}</td>
                                            <td>{{ medicament.description }}</td>

                                            <td><img src="/uploads/image/{{medicament.image}}" alt="{{ medicament.name }}"
                                                     style="height:100px; width:200px; margin-left:70px; box-shadow: 2px 2px 6px #888888; border-radius: 5px;"></td>
                                            <td>
                                            {% if medicament.category is not null %}
                                                {{ medicament.category.name }}
                                            {% else %}
                                                No category assigned
                                            {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('deleteProduit', {'id': medicament.id}) }}" onclick="return confirm('Are you sure you want to delete this product?')">Prende</a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class ="d-flex justify-content-center">
                                    {{ knp_pagination_render(medicaments,'pagination.html.twig') }}
                                </div>



                            </div>
                        </div>
                    </div>
    </section>
</main>

  <!-- End of Page Wrapper -->


{% endblock %}

