{% extends 'baseback.html.twig' %}


{% block body %}



<div class="col-md-6 offset-md-3">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}
    <div class="form-group">
        {{ form_label(form.name) }} {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }} {{ form_errors(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.Description) }} {{ form_widget(form.Description, {'attr': {'class': 'form-control'}}) }} {{ form_errors(form.Description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.date_fin) }} {{ form_widget(form.date_fin, {'attr': {'class': 'form-control-file'}}) }} {{ form_errors(form.date_fin) }}
    </div>
    <div class="form-group">
        {{ form_label(form.category) }} {{ form_widget(form.category, {'attr': {'class': 'form-control-file'}}) }} {{ form_errors(form.category) }}
    </div>


    <div class="form-group">

        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}