{% extends 'base.html.twig' %}

{% block body %}
    <main>


        <section class="section-padding bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="header text-center mb-4">
                            <h1>Partagez pour un Monde en Meilleure Santé</h1>
                            <p>Ensemble, construisons une base de données médicale collaborative</p>
                        </div>
                            <div class="mb-3">
                                {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(form.Description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(form.image, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(form.date_fin, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <button type="submit" class="btn btn-primary">Modifier</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer py-5 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <!-- Footer content goes here -->
                    <!-- Add your footer content here -->
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap 5 JavaScript files -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script>
        // JavaScript code goes here
        // Add your JavaScript code here
    </script>
{% endblock %}
