{% extends 'base.html.twig' %}


{% block body %}

    <div class="col-md-6 offset-md-3">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>


        <div class="form-group">
            {{ form_label(form.image) }}
            {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
            {{ form_errors(form.image) }}
        </div>

        <div class="form-group">
            {{ form_label(form.category.name) }}
            {{ form_widget(form.category.name, {'attr': {'class': 'form-control-file'}}) }}
            {{ form_errors(form.category.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.posted_at) }}
            {{ form_widget(form.posted_at, {'attr': {'class': 'form-control-file'}}) }}
            {{ form_errors(form.posted_at) }}
        </div>




        <div class="form-group">



        </div>

        <div class="form-group">

        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}
