{% extends 'base.html.twig' %}

{% block body %}
    <section id="contact" class="contact">
        <div class="container center" data-aos="fade-up">

            <header class="section-header">
                <p>
                    Modifiez votre reponse  !
                </p>
            </header>

            <div class="row gy-4">


                <div class="col-lg-122">
                    {{ form_start(f, {'attr':{'novalidate':'novalidate'}}) }}

                    <div class="row gy-4">


                        </div>

                        <div class="col-md-12">
                            {{ form_label(f.description_r)}}
                            {{ form_widget(f.description_r,{'attr':{'class':'form-control'}})}}
                            {{ form_errors(f.description_r, {'attr': {'class': 'text-danger','placeholder': 'titre'}}) }}

                        </div>


                        <div class="col-md-12 text-center">
                            <button type="submit">Modifier
                                <i class="bi bi-pencil-square"></i>
                            </button>

                        </div>

                    </div>
                    {{ form_end(f) }}

                </div>

            </div>

        </div>

    </section>
{% endblock %}