{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center display-4">Éditer</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-5">
        {{ form_start(f) }}
        <div class="text-success">Modifier votre commentaire</div>

        <div class="mb-4">
            {{ form_label(f.description_r, 'Modifier votre réponse', {'label_attr': {'class': 'form-label h4 text-light'}}) }}
            {{ form_widget(f.description_r, {'attr': {'class': 'form-control', 'placeholder': 'Votre description', 'rows': 4, 'maxlength': 400}}) }}
            {{ form_errors(f.description_r, {'attr': {'class': 'text-danger'}}) }}
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="bi bi-check"></i> Modifier la réponse
        </button>

        {{ form_end(f) }}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('{{ f.description_r.vars.id }}').addEventListener('input', function () {
                if (this.value.length > 400) {
                    this.setCustomValidity('La description ne doit pas dépasser 400 caractères.');
                } else {
                    this.setCustomValidity('');
                }
            });
        });
    </script>
{% endblock %}
