{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center display-4">Explorez et Partagez vos Question Avec Des Experts</h1>

                    <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bi-search" id="basic-addon1"></span>
                            <input name="keyword" type="search" class="form-control" id="keyword" placeholder="Recherchez des sujets..." aria-label="Recherche">
                            <button type="submit" class="form-control btn btn-primary">Rechercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-5">
        <div class="card border-0 shadow-lg rounded bg-light p-4">
            <h1 class="card-title h2 text-primary">{{ question.title }}</h1>
            <p class="card-text">{{ question.description }}</p>
            <img src="/uploads/image/{{ question.image }}" class="img-fluid rounded" alt="{{ question.image }}" style="max-width: 500px;">

        </div>

        {% for reponse in reponse %}
            <div class="card mt-4 border-0 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title h4">{{ reponse.descriptionR }}</h2>
                    <p class="card-text text-muted small">Commenté le {{ reponse.datetempR|date('d/m/Y à H:i:s') }}</p>
                    <div class="d-flex mt-3">
                        <a href="{{ path('app_reponse_delete', {'id': reponse.id}) }}" class="btn btn-danger me-3">
                            <i class="bi bi-x"></i> Supprimer le commentaire
                        </a>
                        <a href="{{ path('app_reponse_edit', {'id': reponse.id}) }}" class="btn btn-primary">
                            <i class="bi bi-pencil"></i> Modifier le commentaire
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="card mt-4 border-0 shadow-lg rounded bg-light p-4">
            <fieldset>
                <h5 class="mt-3">
                    <a href="{{ path('app_reponse_add', {'id': question.id}) }}" class="btn btn-success">
                        <i class="bi bi-reply"></i> Ajouter votre commentaire
                    </a>
                </h5>
            </fieldset>
        </div>
    </div>
{% endblock %}
