{% extends 'baseback.html.twig' %}
{% block body %}



    <body>
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        <header class="header header-sticky mb-4">
            <div class="container-fluid">
                <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                    <svg class="icon icon-lg">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
                    </svg>
                </button><a class="header-brand d-md-none" href="#">
                    <svg width="118" height="46" alt="CoreUI Logo">
                        <use xlink:href="assets/brand/coreui.svg#full"></use>
                    </svg></a>

                <ul class="header-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#">
                            <svg class="icon icon-lg">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                            </svg></a></li>
                    <li class="nav-item"><a class="nav-link" href="#">
                            <svg class="icon icon-lg">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-list-rich"></use>
                            </svg></a></li>



        </header>
        <div class="body flex-grow-1 px-3">
            <div class="container-lg">
                <div class="car"></div>



                <div class="card mb-4">
                    <div class="card-header"><strong>Tables</strong><span class="small ms-1">Table Categorie et Medicament</span></div>
                    <div class="card-body">
                        <div class="example">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1018" role="tab">
                                        Preview Table Categorie</a></li>

                            </ul>
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1018">
                                    <table class="table">
                                        <thead class="table-light">
                                        <tr>
                                            <th scope="col">Categorie id</th>
                                            <th scope="col">Nom de categorie</th>
                                            <th scope="col">Modifier</th>
                                            <th scope="col">Suprimer</th>
                                        </tr>
                                        </thead>


                                        <tbody>
                                        {% for categorie in categories  %}
                                            <tr>
                                                <td>{{ categorie.id }}</td>
                                                <td>{{ categorie.name }}</td>


                                                <td>
                                                    <a href="{{ path('updateCategorie', {'id': categorie.id}) }}" onclick="return confirm('Are you sure you want to Update?')">Update</a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('deleteCategorie', {'id': categorie.id}) }}" onclick="return confirm('Are you sure you want to Delete?')">delete</a>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>



                                    </table>
                                    <div class ="d-flex justify-content-center">
                                        {{ knp_pagination_render(categories,'pagination.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="example">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1019" role="tab">
                                      Preview Table Medicament</a></li>

                            </ul>
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1019">
                                    <table class="table">
                                        <thead class="table-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom de medicament</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Categorie</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Table Fin </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for medicament in medicaments  %}
                                        <tr>
                                            <td>{{ medicament.name }}</td>
                                            <td>{{ medicament.description }}</td>

                                            <td><img src="/uploads/brochures/{{medicament.image}}" alt="{{ medicament.name }}"
                                                     style="height:100px; width:200px; margin-left:70px; box-shadow: 2px 2px 6px #888888; border-radius: 5px;"></td>

                                            {% if medicament.category is not null %}
                                                {{ medicament.category.nom_ctg }}
                                            {% else %}
                                                No category assigned
                                            {% endif %}
                                            <td>
                                                <a href="{{ path('deleteProduit', {'id': medicament.id}) }}" onclick="return confirm('Are you sure you want to delete this product?')">Supprimer</a>
                                            </td>

                                        </tr>


                                        </tbody>
                                        {%endfor %}

                                    </table>

                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="vendors/simplebar/js/simplebar.min.js"></script>

    </script>

    </body>
    </html>
{% endblock %}