{% extends 'base.html.twig' %}

{% block title %}Mes Réclamations{% endblock %}

{% block body %}
    <head>
        <title>Table 02</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Mes Réclamations</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th>ID Réclamation</th>
                                <th>Médecin</th>
                                <th>Sujet</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reclamation in reclamations %}
                                <tr class="alert" role="alert">
                                    <th scope="row">{{ reclamation.id }}</th>
                                    <td>{{ reclamation.medecin }}</td>
                                    <td>{{ reclamation.sujet }}</td>
                                    <td>{{ reclamation.descriptionRec }}</td>
                                    <td>
                                        <a href="{{ path('edit_reclamation', {'id': reclamation.id}) }}" class="btn btn-primary">Modifier</a>
                                        <a href="{{ path('delete_reclamation', {'id': reclamation.patient.id, 'reclamationId': reclamation.id}) }}"  class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réclamation ?');">Supprimer</a>                                   </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Aucune réclamation trouvée.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/popper.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    </body>
{% endblock %}
