{% extends 'base.html.twig' %}

{% block title %}Edit RendezVous{% endblock %}

{% block body %}
    {{ include('navigation.html.twig') }}
    {{ include('header.html.twig') }}
    <h1>Edit RendezVous</h1>

    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 mt-3 mx-auto">
                    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                        <div class="d-flex">
                            <img src="{{ asset('images/doc.png') }}" class="custom-block-image img-fluid" alt="">
                            <div class="custom-block-topics-listing-info d-flex">
                                <div>
                                    <section id="appointment">
                                        <h3>Modifier le rendez-vous</h3>
                                        <div class="container">
                                            {{ include('rendez_vous/_form.html.twig', {'button_label': 'Update'}) }}
                                            <a href="{{ path('app_rendez_vous_index') }}">Retour à la liste</a>
                                            {{ include('rendez_vous/_delete_form.html.twig') }}
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ include('footer.html.twig') }}

{% endblock %}
