{% extends 'base.html.twig' %}

{% block title %}Hello RendezVousController!{% endblock %}

{% block body %}
    <main>

        {{ include('navigation.html.twig') }}
        {{ include('header.html.twig') }}

        <!-- Form Section -->
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12 mt-3 mx-auto">
                        <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                            <div class="d-flex">
                                <img src="{{ asset('images/doc.png') }}" class="custom-block-image img-fluid" alt="">
                                <div class="custom-block-topics-listing-info d-flex">
                                    <div>
                                        <section id="appointment">
                                            <h3>Prendre un rendez-vous</h3>
                                            <div class="container">
{#                                                {{ randomUserId }}#}
                                                <form  method="post" onsubmit="return validateForm()">
                                                    <input name="date" id="selectedDate" type="date" class="date" onchange="updateTimeOptions()">
                                                    <p style="color: black;">Entrer l'horaire souhaité</p>
                                                    <select id="horaire" name="time" class="horaire"> </select>
                                                    <div class="form-floating">
                                                        <textarea class="form-control" id="message" name="description" placeholder="Parlez-moi des symptômes que vous avez" required></textarea>
                                                        <label for="floatingTextarea">Parlez-moi des symptômes que vous avez</label>
                                                    </div>

                                                    <label for="urgence">Rendez-vous en urgence</label>
                                                    <input type="checkbox" id="urgence" name="urgence" >
                                                    <label for="besoinAmbulance">Vous avez besoin d'une ambulance ?</label>
                                                    <input type="checkbox" id="besoinAmbulance" name="besoinAmbulance" >
                                                    <button  type="submit" class="btn custom-btn mt-3 mt-lg-4 submit-btn">Soumettre</button>
                                                </form>



                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    </main>

    {{ include('footer.html.twig') }}


    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/custom.js"></script>
    <script>
        function updateTimeOptions() {
            var selectedDate = document.getElementById("selectedDate").value;
            var horaireSelect = document.getElementById("horaire");

            // Supprimer les options existantes
            horaireSelect.innerHTML = "";

            // Ajouter des options en fonction de n'importe quelle date
            addOption("9:00");
            addOption("9:30");
            addOption("11:00");
            addOption("14:00");
        }

        function addOption(time) {
            var horaireSelect = document.getElementById("horaire");
            var option = document.createElement("option");
            option.text = time;
            option.value = time;
            horaireSelect.add(option);
        }

        function validateForm() {
            var selectedDate = document.getElementById("selectedDate").value;
            var selectedTime = document.getElementById("horaire").value;

            if (!selectedDate) {
                alert("Veuillez sélectionner une date.");
                return false;
            }

            if (!selectedTime) {
                alert("Veuillez sélectionner un horaire.");
                return false;
            }

            var selectedDateTime = new Date(selectedDate);
            var currentDate = new Date();

            if (selectedDateTime < currentDate) {
                alert("Veuillez sélectionner une date ultérieure à la date actuelle.");
                return false;
            }
            var selectedDay = selectedDateTime.getDay();
            if (selectedDay === 0 || selectedDay === 6) {
                alert("La date sélectionnée est un week-end. Veuillez choisir une autre date.");
                return false;
            }
            return true;
        }

    </script>

{% endblock %}
