{% extends 'base.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block body %}
    <main>

        {{ include('navigation.html.twig') }}
        {{ include('header.html.twig') }}



        <section class="section-padding" style=" text-align: -webkit-center;">
            <div class="container">
                <div style="width: 40%;">
                <h1>RendezVous</h1>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>medecin</th>
                        <td>{{ rendez_vou.medecin.getFirstName() }} {{ rendez_vou.medecin.getLastName() }}</td>
                    </tr>

                    <tr>
                        <th>patient</th>
                        <td>{{ rendez_vou.patient.getFirstName() }} {{ rendez_vou.patient.getLastName() }}</td>
                    </tr>

                    <tr>
                        <th>Date</th>
                        <td>{{ rendez_vou.date ? rendez_vou.date|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>heure</th>
                        <td>{{ rendez_vou.time ? rendez_vou.time|date('H:i') : ''  }}</td>

                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ rendez_vou.description }}</td>
                    </tr>
                    <tr>
                        <th>Status_rdv</th>
                        <td>{{ rendez_vou.statusRdv }}</td>
                    </tr>
                    <tr>
                        <th>Expert</th>
                        <td>
                            {% if rendez_vou.expert is not null %}
                                {{ rendez_vou.expert.getFirstName() }} {{ rendez_vou.expert.getLastName() }}
                            {% else %}
                                La demande n'est pas encore traitée
                            {% endif %}
                        </td>
                    </tr>
                    {% if rendez_vou.reponseRefuse is not null and rendez_vou.reponseRefuse != '' %}
                        <tr>
                            <th>Reponse_refuse</th>
                            <td>{{ rendez_vou.reponseRefuse }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Urgence</th>
                        <td>{{ rendez_vou.urgence ? 'Yes' : 'No' }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('app_rendez_vous_index') }}">back to list</a>

                <a href="{{ path('app_rendez_vous_edit', {'id': rendez_vou.id}) }}">edit</a>

                {{ include('rendez_vous/_delete_form.html.twig') }}
                </div>
            </div>
        </section>


    </main>

    {{ include('footer.html.twig') }}

{% endblock %}
