{% extends 'base.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block body %}
    <main>

        {{ include('navigation.html.twig') }}
        {{ include('header.html.twig') }}



        <section class="section-padding">
            <div >
                <div >
                    <div class="col-lg-8 col-12 mt-3 mx-auto">
                        <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                            <div class="d-flex">

                                <div class="custom-block-topics-listing-info d-flex">
                                    <div>
                <div style="">
                <h1>RendezVous</h1>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Medecin</th>
                        <td>{{ rendez_vou.medecin.getFirstName() }} {{ rendez_vou.medecin.getLastName() }}</td>
                    </tr>

                    <tr>
                        <th>Patient</th>
                        <td>{{ rendez_vou.patient.getFirstName() }} {{ rendez_vou.patient.getLastName() }}</td>
                    </tr>

                    <tr>
                        <th>Date</th>
                        <td>{{ rendez_vou.date ? rendez_vou.date|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Heure</th>
                        <td>{{ rendez_vou.time ? rendez_vou.time|date('H:i') : ''  }}</td>

                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ rendez_vou.description }}</td>
                    </tr>
                    <tr>
                        <th>Statut rdv</th>
                        <td>{{ rendez_vou.statusRdv }}</td>
                    </tr>
                    <tr>
                        <th>Expert</th>
                        <td>
                            {% if rendez_vou.expert is not null %}
                                {{ rendez_vou.expert.getFirstName() }} {{ rendez_vou.expert.getLastName() }}
                            {% else %}
                                La demande n'est pas encore traitée
                            {% endif %}
                        </td>
                    </tr>
                    {% if rendez_vou.reponseRefuse is not null and rendez_vou.reponseRefuse != '' %}
                        <tr>
                            <th>Reponse de refuse</th>
                            <td>{{ rendez_vou.reponseRefuse }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Urgence</th>
                        <td>{{ rendez_vou.urgence ? 'Yes' : 'No' }}</td>
                    </tr>
                    </tbody>
                </table>


                </div>
                <a href="{{ path('app_rendez_vous_index') }}">Retour à la liste</a>

                <a href="{{ path('app_rendez_vous_edit', {'id': rendez_vou.id}) }}">Modifier</a>

                {{ include('rendez_vous/_delete_form.html.twig') }}
{#                                        <a href="{{ path('app_rendez_vous_new' ) }}">Demander un rendez-vous</a>#}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

    {{ include('footer.html.twig') }}

{% endblock %}
