{% extends 'base.html.twig' %}

{% block title %}Hello ConsultationsController!{% endblock %}

{% block body %}

    <link href="{{ asset('css/tempc&c.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/stylesC&C.css') }}">


    <main>






        <section class="section-padding section-bg">
                        <div class="container_app" id="specificSection">
                            <div class="header">
                                <h1>Partagez pour un Monde en Meilleure Santé</h1>
                                <p>Ensemble, construisons une base de données médicale collaborative</p>
                </div>

                <form action="" method="post" enctype="multipart/form-data" id="donationFormc&c" onsubmit=" return validateForm()">
                    <p id="Nom">Nom du patient :</p>
                    <p  id="nom">{{ rendezVous.getPatient().getLastName() }}</p>
                    <!--input type="text" id="nom" name="nom" placeholder="Votre nom de patient" readonly-->


                    <p id="Prenom">Prénom du patient :</p>
                    <!--input type="text" id="Prenom" name="Prenom" placeholder="Votre Prenom de patient" readonly-->
                    <p id="Prenom" >{{ rendezVous.getPatient().getFirstName() }}</p>

                    <p id="maladie">Maladie chronique :</p>
                    <!--input type="text" id="Maladie chronique" name="Maladie chronique"  placeholder="Votre Maladie chronique "readonly-->
                    <p  id="maladie">{{ rendezVous.getPatient().getMaladieChronique() }}</p>

                    <p id="Groupe sanguin">Groupe sanguin :</p>
                    <!--input id="groupe-sanguin" name="groupe-sanguin" readonly-->
                    <p  id="sanguin">{{ rendezVous.getPatient().getGroupeSanguin() }}</p>


                    <span class="error-message" id="groupe-sanguin-error"></span>

                    <label for="Description">Description de maladie :</label>
                    <textarea id="Description" name="Description" rows="4" maxlength="200" placeholder="L'état de patient" required></textarea>
                    <span class="error-message" id="description-error"></span>

                    <label for="Duré_de_maladie">Durée de maladie :</label>
                    <input type="tel" id="phone" name="Duré_de_maladie" placeholder="La durée de maladie"  >
                    <label for="Poids_de_patient">Le poids de votre patient :</label>
                    <input type="number" id="poids" name="Poids_de_patient" placeholder="Votre Poids" min="45" required>
                    <span class="error-message" id="poids-error"></span>

                    <label for="taille">La taille de votre patient :</label>
                    <input type="number" id="taille" name="taille" placeholder="Votre taille" min="130" required>
                    <span class="error-message" id="taille-error"></span>
                    <label for="temperature">La température de votre patient :</label>
                    <input type="tel" id="temperature" name="temperature" placeholder="Votre température exacte (entre 35 et 42 degrés Celsius)" required>
                    <span class="error-message" id="temperature-error"></span>

                    <label for="frequence-cardiaque">La fréquence cardiaque de votre patient :</label>
                    <input type="tel" id="frequence-cardiaque" name="frequence-cardiaque" placeholder="Votre fréquence cardiaque exacte (entre 30 et 200 battements par minute)" required>
                    <span class="error-message" id="frequence-cardiaque-error"></span>

                    <label for="respiration">La respiration de votre patient :</label>
                    <input type="tel" id="respiration" name="respiration" placeholder="Votre respiration exacte (entre 10 et 40 respirations par minute)" required>
                    <span class="error-message" id="respiration-error"></span>

                    <label for="Conseils_de_maladie">Conseils de maladie :</label>
                    <textarea id="Conseils_de_maladie" name="Conseils_de_maladie" placeholder="Votre conseils Dr" required></textarea>
                    <span class="error-message" id="conseils-error"></span>

                    <label for="nomMedicament">Nom du médicament :</label>
                    <input type="text" id="nomMedicament" name="nomMedicament"  placeholder="Votre médicament" required>
                    <span class="error-message" id="nom-medicament-error"></span>


                    <label for="date-consultation">Date de la consultation :</label>
                    <input type="date" id="date-consultation" name="date-consultation" required>
                    <span class="error-message" id="date-error"></span>






                    <label for="cnam">Ajout CNAM</label>
                    <input type="checkbox" id="cnam" name="cnam">
                    <button type="button" onclick="window.location.reload()">Annuler une Consultation</button>

                    <button type="submit" class="btn custom-btn mt-3 mt-lg-4 submit-btn">Faire une Consultation</button>
                </form>





            </div>


        </section>
    </main>


    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="index.html" >
                        <img src="images/logo_my_eDR-removebg-preview.png" width="25%" height="auto">
                        <span>My eDR</span>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Resources</h6>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Home</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">How it works</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">FAQs</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Information</h6>

                    <p class="text-white d-flex mb-1">
                        <a href="tel: 305-240-9671" class="site-footer-link">
                            305-240-9671
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <a href="mailto:info@company.com" class="site-footer-link">
                            info@company.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English</button>

                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Thai</button></li>

                            <li><button class="dropdown-item" type="button">Myanmar</button></li>

                            <li><button class="dropdown-item" type="button">Arabic</button></li>
                        </ul>
                    </div>

                    <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                        <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a></p>

                </div>

            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->

    <script>
        document.getElementById("donationFormc&c").addEventListener("submit", function(event) {


            if (descriptionInput.value.length > 200) {
                event.preventDefault();
                descriptionError.textContent = "La description ne peut pas dépasser 200 mots";
            } else {
                descriptionError.textContent = "";
            }

            if (poidsInput.value < 45) {
                event.preventDefault();
                poidsError.textContent = "Le poids doit être supérieur ou égal à 45";
            } else {
                poidsError.textContent = "";
            }

            if (tailleInput.value < 130) {
                event.preventDefault();
                tailleError.textContent = "La taille doit être supérieure ou égale à 130";
            } else {
                tailleError.textContent = "";
            }

            var today = new Date();
            var selectedDate = new Date(dateInput.value);
            var minDate = new Date(today.getTime() + 3 * 24 * 60 * 60 * 1000);
            var maxDate = new Date(today.getTime() + 15 * 24 * 60 * 60 * 1000);

            if (selectedDate < minDate || selectedDate > maxDate) {
                event.preventDefault();
                dateError.textContent = "La date doit être comprise entre 3 et 15 jours à partir d'aujourd'hui";
            } else {
                dateError.textContent = "";
            }
        });

        document.getElementById("donationFormc&c").addEventListener("submit", function(event) {
            var temperatureInput = document.getElementById("temperature");
            var frequenceCardiaqueInput = document.getElementById("frequence-cardiaque");
            var respirationInput = document.getElementById("respiration");
            var conseilsInput = document.getElementById("Conseils_de_maladie");
            var nomMedicamentInput = document.getElementById("nomMedicament");
            var photoMedicamentInput = document.getElementById("photoMedicament");

            var temperatureError = document.getElementById("temperature-error");
            var frequenceCardiaqueError = document.getElementById("frequence-cardiaque-error");
            var respirationError = document.getElementById("respiration-error");
            var conseilsError = document.getElementById("conseils-error");
            var nomMedicamentError = document.getElementById("nom-medicament-error");
            var photoMedicamentError = document.getElementById("photoMedicament-error");

            // Expression régulière pour une température valide (entre 35 et 42 degrés Celsius)
            var temperatureRegex = /^([3][5-9]|[4][0-1])(\.\d{1})?$/;

            if (!temperatureRegex.test(temperatureInput.value)) {
                event.preventDefault();
                temperatureError.textContent = "Veuillez entrer une température valide (entre 35 et 42 degrés Celsius)";
            } else {
                temperatureError.textContent = "";
            }

            // Expression régulière pour une fréquence cardiaque valide (entre 30 et 200 battements par minute)
            var frequenceCardiaqueRegex = /^([3-9]\d|[1]\d{2})(\.\d{1})?$/;

            if (!frequenceCardiaqueRegex.test(frequenceCardiaqueInput.value)) {
                event.preventDefault();
                frequenceCardiaqueError.textContent = "Veuillez entrer une fréquence cardiaque valide (entre 30 et 200 battements par minute)";
            } else {
                frequenceCardiaqueError.textContent = "";
            }

            // Expression régulière pour une respiration valide (entre 10 et 40 respirations par minute)
            var respirationRegex = /^([1-3]\d|[4][0])(\.\d{1})?$/;

            if (!respirationRegex.test(respirationInput.value)) {
                event.preventDefault();
                respirationError.textContent = "Veuillez entrer une respiration valide (entre 10 et 40 respirations par minute)";
            } else {
                respirationError.textContent = "";
            }

            // Vérification de la longueur des conseils de maladie
            if (conseilsInput.value.length > 200) {
                event.preventDefault();
                conseilsError.textContent = "La description ne peut pas dépasser 200 caractères";
            } else {
                conseilsError.textContent = "";
            }

            // Vérification du nom du médicament
            if (nomMedicamentInput.value.length === 0) {
                event.preventDefault();
                nomMedicamentError.textContent = "Veuillez entrer le nom du médicament";
            } else {
                nomMedicamentError.textContent = "";
            }

            // Vérification de l'upload du scanner ou bilan
            if (photoMedicamentInput.files.length === 0) {
                event.preventDefault();
                photoMedicamentError.textContent = "Veuillez télécharger le scanner ou le bilan du patient";
            } else {
                photoMedicamentError.textContent = "";
            }
        });
        function validateForm() {


            return true; // Autoriser la soumission du formulaire principal
        }



    </script>
{% endblock %}
