{% extends 'base.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block body %}
    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <i class="bi-back"></i>
                    <span>My EDr</span>
                </a>

                <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_1">Acceuil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_2">Consultations</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_3">Rendez_vous</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_4">Medicaments</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="index.html#section_5">Contact</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="topics-listing.html">Topics Listing</a></li>

                                <li><a class="dropdown-item" href="contact.html">Contact Form</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="d-none d-lg-block">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
                </div>
            </div>
        </nav>


        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row justify-content-center align-items-center">

                    <div class="col-lg-5 col-12 mb-5">
                        <h2 class="text-white">Consultation</h2>
                    </div>

                    <div class="col-lg-5 col-12 d-flex align-items-center justify-content-center">
                        <div class="topics-detail-block bg-white shadow-lg text-center">
                            <img src="{{ asset('images/contact-img.jpg') }}" class="topics-detail-block-image img-fluid" style="width: 70%; height: auto;">
                        </div>
                    </div>


                </div>
            </div>
        </header>

        <section class="section-padding section-bg">
            <div class="container_app" id="specificSection">
                <div class="header">
                    <h1>Partagez pour un Monde en Meilleure Santé</h1>
                    <p>Ensemble, construisons une base de données médicale collaborative</p>
                </div>
                <section class="section-padding section-bg text-center">
                    <h1>Votre Consultation</h1>

                </section>
                <table class="table">
                    <tbody>


                    <tr>
                        <th>Id</th>
                        <td>{{ consultation.id }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ consultation.description }}</td>
                    </tr>
                    <tr>
                        <th>Duree_maladie</th>
                        <td>{{ consultation.dureeMaladie ? consultation.dureeMaladie|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Poids</th>
                        <td>{{ consultation.poids }}</td>
                    </tr>
                    <tr>
                        <th>Taille</th>
                        <td>{{ consultation.taille }}</td>
                    </tr>
                    <tr>
                        <th>Temperature</th>
                        <td>{{ consultation.temperature }}</td>
                    </tr>
                    <tr>
                        <th>Frequence_cardique</th>
                        <td>{{ consultation.frequenceCardique }}</td>
                    </tr>
                    <tr>
                        <th>Respiration</th>
                        <td>{{ consultation.respiration }}</td>
                    </tr>
                    <tr>
                        <th>Conseils</th>
                        <td>{{ consultation.conseils }}</td>
                    </tr>
                    <tr>
                        <th>Medicament</th>
                        <td>{{ consultation.medicament }}</td>
                    </tr>
                    <tr>
                        <th>Date_prochaine</th>
                        <td>{{ consultation.dateProchaine ? consultation.dateProchaine|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
                <h2>QR Code</h2>
                <br>

                <img id="qrCode" src="{{ qrCodes.simple }}" alt="Simple QR Code for consultation ID">
                <div class="text-center">
                    <a href="{{ path('app_consultation_index') }}" class="btn btn-primary mx-2">Back to List</a>

                    <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}" class="btn btn-secondary mx-2">Edit</a>
                </div>
            </div>
            <script>
                document.getElementById('qrCode').addEventListener('click', function() {
                    // Récupérer les données du code QR depuis l'attribut src de l'image
                    var qrData = this.src;

                    // Ouvrir une nouvelle fenêtre avec les données de la consultation
                    var newWindow = window.open('', '_blank');

                    // Construire le contenu HTML de la nouvelle fenêtre
                    var htmlContent = '<html><head><title>Consultation Details</title></head><body>';
                    htmlContent += '<h1>Consultation Details</h1>';
                    htmlContent += '<p>QR Code Data: ' + qrData + '</p>'; // Afficher les données du code QR
                    // Ajoutez d'autres informations de consultation ici
                    htmlContent += '</body></html>';

                    // Écrire le contenu HTML dans la nouvelle fenêtre
                    newWindow.document.write(htmlContent);
                });

            </script>
        </section>

    </main>
    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="index.html" >
                        <img src="images/logo_my_eDR-removebg-preview.png" width="25%" height="auto">
                        <span>My eDR</span>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Resources</h6>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Home</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">How it works</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">FAQs</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Information</h6>

                    <p class="text-white d-flex mb-1">
                        <a href="tel: 305-240-9671" class="site-footer-link">
                            305-240-9671
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <a href="mailto:info@company.com" class="site-footer-link">
                            info@company.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English</button>

                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Thai</button></li>

                            <li><button class="dropdown-item" type="button">Myanmar</button></li>

                            <li><button class="dropdown-item" type="button">Arabic</button></li>
                        </ul>
                    </div>

                    <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                        <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a></p>

                </div>

            </div>

        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/custom.js"></script>
    <script>console.log(qrCodeDataUri)/script>

{% endblock %}