{% extends 'baseback.html.twig' %}
{% block body %}
<section class="section-padding">
    <div >
        <div >
            <div class="col-lg-8 col-12 mt-3 mx-auto">
                <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                    <div class="d-flex">

                        <div class="custom-block-topics-listing-info d-flex">
                            <div>
                                <h1>liste de rendez-vous</h1>
                                <table class="table table-striped">
                                    <thead class="table-dark">
                                    <tr>
                                        <th></th>
                                        <th>Date</th>
                                        <th>Heure</th>
                                        <th>Status_rdv</th>
                                        <th>Description</th>

                                        <th>Urgence</th>
                                        <th>Nom du Patient</th>
                                        <th>Nom du Médecin</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key,rendez_vou in rendez_vouses %}
                                        <tr>
                                            <td>{{ key + 1 }}</td>
                                            <td>{{ rendez_vou.date ? rendez_vou.date|date('Y-m-d') : '' }}</td>
                                            <td>{{ rendez_vou.time ? rendez_vou.time|date('H:i') : '' }}</td>
                                            <td>{{ rendez_vou.statusRdv }}</td>
                                            <td>{{ rendez_vou.description }}</td>

                                            <td>{{ rendez_vou.urgence ? 'oui' : 'non' }}</td>
                                            <td>{{ rendez_vou.patient.getFirstName() }} {{ rendez_vou.patient.getLastName() }}</td>
                                            <td>{{ rendez_vou.medecin.getFirstName() }} {{ rendez_vou.medecin.getLastName() }}</td>
                                            <td>
                                                <a href="{{ path('app_rendez_vous_show', {'id': rendez_vou.id}) }}">show</a>

                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>


                                <div class="my-4 text-center">
                                    <hr class="my-4"> <!-- Barre horizontale décorative -->
                                    <h3>Autres données</h3> <!-- Titre pour séparer visuellement -->
                                </div>
                                <div class="my-4">
                                    <h3 class="text-center">Statistiques de santé</h3>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Nombre total de consultations</h5>
                                                    <p class="card-text">100</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Nombre de patients</h5>
                                                    <p class="card-text">50</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Nombre de médicaments prescrits</h5>
                                                    <p class="card-text">80</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="custom-block-topics-listing-info d-flex">
                                    <div>
                                        <h1>liste de ambulance</h1>
                                        <table class="table table-striped">
                                            <thead class="table-dark">
                                            <tr>
                                                <th></th>
                                                <th>Position du patient</th>
                                                <th>Adresse du médecin</th>
                                                <th>Besoin d'infirmier</th>

                                                <th>Date du rendez-vous </th>
                                                <th>Heure du rendez-vous</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for key ,ambulance in ambulances %}
                                                <tr>
                                                    <td>{{ key + 1 }}</td>
                                                    <td>{{ ambulance.localActuelPatient }}</td>
                                                    <td>{{ ambulance.getRdv().getMedecin().getAddress() }}</td>
                                                    <td>{{ ambulance.besoinInfirmier ? 'Oui' : 'Non' }}</td>
                                                    <td>{{ ambulance.getRdv().date|date('Y-m-d') }}</td>
                                                    <td>{{ ambulance.getRdv().time|date('H:i:s') }}</td>
                                                    <td>
                                                        <a href="{{ path('app_ambulance_show', {'id': ambulance.id}) }}">Afficher</a>

                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="8">Aucun enregistrement trouvé</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}