{% extends 'base.html.twig' %}

{% block title %}Ambulance index{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    {{ include('header.html.twig') }}
    <section class="section-padding">
        <div >
            <div >
                <div class="col-lg-8 col-12 mt-3 mx-auto">
                    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                        <div class="d-flex">

                            <div class="custom-block-topics-listing-info d-flex">
                                <div>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Position du patient</th>
            <th>Adresse du médecin</th>
            <th>Besoin d'infirmier</th>

            <th>Date du rendez-vous </th>
            <th>Heure du rendez-vous</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for key ,ambulance in ambulances %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>
                    <div id="map_{{ key }}" style="height: 200px; width: 200px;"></div>
                </td>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        function showMap(mapId, latitude, longitude) {
                            var map = L.map(mapId).setView([latitude, longitude], 13);

                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);

                            L.marker([latitude, longitude]).addTo(map);
                        }

                        {% for key, ambulance in ambulances %}
                        showMap('map_{{ key }}', {{ ambulance.latitude }}, {{ ambulance.longitude }});
                        {% endfor %}
                    });
                </script>
                <td>{{ ambulance.getRdv().getMedecin().getPays() }}</td>
                <td>{{ ambulance.besoinInfirmier ? 'Oui' : 'Non' }}</td>
                <td>{{ ambulance.getRdv().date|date('Y-m-d') }}</td>
                <td>{{ ambulance.getRdv().time|date('H:i') }}</td>
                <td>
                    <a href="{{ path('app_ambulance_show', {'id': ambulance.id}) }}">Afficher</a>
                    <a href="{{ path('app_ambulance_edit', {'id': ambulance.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ include('footer.html.twig') }}

{% endblock %}
