{% extends 'base.html.twig' %}

{% block title %}Ambulance index{% endblock %}

{% block body %}

    {{ include('navigation.html.twig') }}
    {{ include('header.html.twig') }}
<section class="section-padding">
    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Position du patient</th>
            <th>Adresse du médecin</th>
            <th>Besoin d'infirmier</th>

            <th>Date du rendez-vous </th>
            <th>Heure du rendez-vous</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for key ,ambulance in ambulances %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>{{ ambulance.localActuelPatient }}</td>
                <td>{{ ambulance.getRdv().getMedecin().getAddress() }}</td>
                <td>{{ ambulance.besoinInfirmier ? 'Oui' : 'Non' }}</td>


                <td>{{ ambulance.getRdv().date|date('Y-m-d') }}</td>
                <td>{{ ambulance.getRdv().time|date('H:i:s') }}</td>
                <td>
                    <a href="{{ path('app_ambulance_show', {'id': ambulance.id}) }}">Afficher</a>
                    <a href="{{ path('app_ambulance_edit', {'id': ambulance.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</section>

    {{ include('footer.html.twig') }}

{% endblock %}
