{% extends 'base.html.twig' %}

{% block title %}New Ambulance{% endblock %}

{% block body %}
    {{ include('navigation.html.twig') }}
    {{ include('header.html.twig') }}
<section class="section-padding">
    <div class="container">

    {{ include('ambulance/_form.html.twig') }}

    <a href="{{ path('app_ambulance_index') }}">Retour à la liste</a>
    </div>
</section>
    {{ include('footer.html.twig') }}

{% endblock %}
