
{#<form method="POST" action="{{ path('app_login') }}">#}
{#    <label for="inputEmail" class="form-label">Email</label>#}
{#    <input type="email" value="" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
{#    <label for="inputPassword" class="form-label">Password</label>#}
{#    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}
{#    <button type="submit">Login</button>#}
{#</form>#}


{# Afficher le formulaire #}
{#{{ form_start(form ,{attr:{novalidate:'novalidate'}}) }}#}
{#<label for="inputText" class="" >Email</label>#}
{#{{ form_widget(form.email) }}#}
{#{{ form_errors(form.email) }}<br>#}
{#<label for="inputText" class="" >Password</label>#}
{#{{ form_widget(form.password) }}#}
{#{{ form_errors(form.password) }}<br>#}
{#{{ form_end(form) }}#}
{% block body %}
    <!DOCTYPE html>
    <!-- Created By CodingNepal -->
    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login Form Design | CodeLab</title>
{#        <link rel="stylesheet" href="style.css">#}
        <style>
            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
            }
            html,body{
                display: grid;
                height: 100%;
                width: 100%;
                place-items: center;
                background: url('{{ asset('/user/images/i4.jpg') }}');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            ::selection{
                background: #529CA7;
                color: #fff;
            }
            .wrapper{
                margin-right: 50%;
                width: 380px;
                background: #fff;
                border-radius: 15px;
                box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
            }
            .wrapper .title{
                font-size: 35px;
                font-weight: 600;
                text-align: center;
                line-height: 100px;
                color: #fff;
                user-select: none;
                border-radius: 15px 15px 0 0;
                background: linear-gradient(-135deg, #529CA7, #014954);
            }
            .wrapper form{
                padding: 10px 30px 50px 30px;
            }
            .wrapper form .field{
                height: 50px;
                width: 100%;
                margin-top: 20px;
                position: relative;
            }
            .wrapper form .field input{
                height: 100%;
                width: 100%;
                outline: none;
                font-size: 17px;
                padding-left: 20px;
                border: 1px solid lightgrey;
                border-radius: 5px;
                transition: all 0.3s ease;
            }
            .wrapper form .field input:focus,
            form .field input:valid{
                border-color: #4158d0;
            }
            .wrapper form .field label{
                /*position: absolute;*/
                top: 50%;
                left: 20px;
                color: #0e0e0e;
                font-weight: 400;
                font-size: 17px;
                /*pointer-events: none;*/
                transform: translateY(-50%);
                transition: all 0.3s ease;
            }
            form .field input:focus ~ label,
            form .field input:valid ~ label{
                top: 0%;
                font-size: 16px;
                color: #4158d0;
                background: #fff;
                transform: translateY(-50%);
            }
            form .content{
                display: flex;
                width: 100%;
                height: 50px;
                font-size: 16px;
                align-items: center;
                justify-content: space-around;
            }
            form .content .checkbox{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            form .content input{
                width: 15px;
                height: 15px;
                background: red;
            }
            form .content label{
                color: #262626;
                user-select: none;
                padding-left: 5px;
            }
            /*form .content .pass-link{*/
            /*    color: "";*/
            /*}*/
            form .field input[type="submit"]{
                color: #fff;
                border: none;
                padding-left: 0;
                margin-top: -10px;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
                background: linear-gradient(-135deg, #529CA7, #004e59);
                transition: all 0.3s ease;
            }
            form .field input[type="submit"]:active{
                transform: scale(0.95);
            }
            form .signup-link{
                color: #262626;
                margin-top: 20px;
                text-align: center;
            }
            form .pass-link a,
            form .signup-link a{
                color: #4158d0;
                text-decoration: none;
            }
            form .pass-link a:hover,
            form .signup-link a:hover{
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
    <div class="wrapper">
        <div class="title">
            Login Form
        </div>
        <form method="post">
            {% if error %}
                {% if error.messageKey == 'Invalid credentials.' %}
                    <div class="alert alert-danger">Mot de passe incorrect.</div>
{#                    {% if error.messageData.username is defined %}#}
{#                        <div class="alert alert-danger">{{ error.messageData.username }}</div>#}
{#                    {% else %}#}
{#                        <div class="alert alert-danger">{{ error.messageData. }}</div>#}
{#                        <div class="alert alert-danger">Incorrect password.</div>#}
{#                    {% endif %}#}
                {% else %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="field">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
        <br>
            <div class="field">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
        <br>
        <br>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="content">
                <div class="checkbox">
                    <input type="checkbox" id="_remember_me" name="_remember_me" >
                    <label for="_remember_me">Remember me</label>
                </div>
                <div class="pass-link">
                    <a href="{{ path('forgot') }}">Forgot password?</a>
                </div>
            </div>
            <div class="field">
                <input class="submit" type="submit" value="Login">
            </div>
            <div class="signup-link">
                Not Have an account? <a href="{{ path('Register') }}">Signup</a>
            </div>
        </form>
    </div>
<script>
    document.querySelector('.submit').addEventListener('click', function() {
        console.log("it's work")
        // console.log(error.messageData);
        // console.log(error.messageData.username);
        document.querySelector('form').submit();
    });
</script>
    </body>
    </html>
{% endblock %}
