<html>

<head>
    <title>Map</title>
    <link rel="stylesheet" href="{{ asset('https://unpkg.com/leaflet@1.8.0/dist/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ asset('https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css') }}" />

    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body>
<div id="map" style="width:100%; height: 100vh"></div>
<script src="{{ asset('https://unpkg.com/leaflet@1.8.0/dist/leaflet.js') }}"></script>
<script src="{{ asset('https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js') }}"></script>


<script>

    // import L from "../../vendor/phpunit/php-code-coverage/src/Report/Html/Renderer/Template/js/d3.min";

    let  latd = {{ latd }},  lngd={{ lngd }};


    var map = L.map('map');
    map.setView([latd, lngd], 16);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var med = L.icon({
        iconUrl: '{{ asset('/images/icons/med.png') }}',
        iconSize: [90, 90],
        iconAnchor : [25,80],
        popupAnchor :[12,90]
    })

    var marker1 = L.marker([ latd , lngd] , {
        icon:med}).addTo(map);
    // marker1.setIcon(med);
    marker1.setOpacity(1);
    navigator.geolocation.watchPosition(success, error);
    function success(pos) {
        const lats = pos.coords.latitude;
        const lngs = pos.coords.longitude;
        var my = L.icon({
            iconUrl: '{{ asset('/images/icons/per.png') }}',
            iconSize: [100, 100],
            iconAnchor : [25,80],
            popupAnchor :[12,90]
        })
        var marker2 =   L.marker([lats,lngs, {
                draggable:false,
            icon: my }]).addTo(map);
        marker2.setIcon(my);
        L.Routing.control({
            waypoints: [
                L.latLng(lats, lngs),
                L.latLng(latd, lngd)
            ]
        }).addTo(map);

    }
    function error(err) {
        if (err.code === 1) {
            alert("Please allow geolocation access");
        } else {
            alert("Cannot get current location");
        }
    }
    {#let lats , lngs ;#}

    {#let  latd ,  lngd;#}
    {#var map = L.map('map').setView([lats,lngs], 15);#}
    {#var marker1 = L.marker([ lats , lngs]).addTo(map);#}
    {#mapLink = "<a href='{{ asset('http://openstreetmap.org') }}'>OpenStreetMap</a>";#}
    {#var marker = L.marker([ latd , lngd]).addTo(map);#}

    // map.on('click', function (e) {
    //     console.log(e)
    //     var newMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
    //
    // });


</script>


</body>

</html>