{#<select id="specialite" name="specialite">#}
{#    <option value="111" >#}
{#        Acupuncture                                                     </option>#}
{#    <option value="120" >#}
{#        Addictologue                                                     </option>#}
{#    <option value="121" >#}
{#        Algologue  (Douleur)                                                    </option>#}
{#    <option value="89" >#}
{#        Allergologue                                                     </option>#}
{#    <option value="1" >#}
{#        Anatomo-Cyto-Pathologiste                                                     </option>#}
{#    <option value="122" >#}
{#        Andrologue                                                     </option>#}
{#    <option value="2" >#}
{#        Anesthésiste-Réanimateur                                                     </option>#}
{#    <option value="3" >#}
{#        Angiologue                                                     </option>#}
{#    <option value="160" >#}
{#        Audiologiste                                                     </option>#}
{#    <option value="106" >#}
{#        Audioprothésiste                                                     </option>#}
{#    <option value="172" >#}
{#        Auriculothérapeute                                                     </option>#}
{#    <option value="6" >#}
{#        Biochimiste                                                     </option>#}
{#    <option value="4" >#}
{#        Biochimiste Clinique                                                     </option>#}
{#    <option value="5" >#}
{#        Biologiste Medicale                                                     </option>#}
{#    <option value="10" >#}
{#        Biophysique                                                     </option>#}
{#    <option value="12" >#}
{#        Cancérologue                                                     </option>#}
{#    <option value="13" >#}
{#        Cardiologue  (Cœur)                                                    </option>#}
{#    <option value="179" >#}
{#        Cardiologue pédiatrique                                                     </option>#}
{#    <option value="153" >#}
{#        Centre d'imagerie médicale                                                     </option>#}
{#    <option value="161" >#}
{#        Chiropracteur                                                     </option>#}
{#    <option value="182" >#}
{#        Chirurgie Arthroscopique et du Sport                                                     </option>#}
{#    <option value="158" >#}
{#        Chirurgie plastique et réparatrice                                                     </option>#}
{#    <option value="26" >#}
{#        Chirurgien                                                     </option>#}
{#    <option value="178" >#}
{#        Chirurgien Buccal                                                     </option>#}
{#    <option value="14" >#}
{#        Chirurgien Cancérologue                                                     </option>#}
{#    <option value="143" >#}
{#        Chirurgien capillaire                                                     </option>#}
{#    <option value="15" >#}
{#        Chirurgien Cardio-Vasculaire                                                     </option>#}
{#    <option value="16" >#}
{#        Chirurgien Cardio-Vasculaire Thoracique                                                     </option>#}
{#    <option value="177" >#}
{#        Chirurgien cervico-facial                                                     </option>#}
{#    <option value="133" >#}
{#        Chirurgien de l'obésité                                                     </option>#}
{#    <option value="24" >#}
{#        Chirurgien Esthétique                                                     </option>#}
{#    <option value="17" >#}
{#        Chirurgien Généraliste                                                     </option>#}
{#    <option value="151" >#}
{#        Chirurgien Maxillo Facial et Esthétique                                                     </option>#}
{#    <option value="91" >#}
{#        Chirurgien Maxillo Facial Stomatologue                                                     </option>#}
{#    <option value="174" >#}
{#        Chirurgien Orthopédiste Pédiatrique                                                     </option>#}
{#    <option value="20" >#}
{#        Chirurgien Orthopédiste Traumatologue                                                     </option>#}
{#    <option value="21" >#}
{#        Chirurgien Pédiatrique                                                     </option>#}
{#    <option value="22" >#}
{#        Chirurgien Plasticien                                                     </option>#}
{#    <option value="27" >#}
{#        Chirurgien Thoracique                                                     </option>#}
{#    <option value="25" >#}
{#        Chirurgien Urologue                                                     </option>#}
{#    <option value="144" >#}
{#        Chirurgien vasculaire                                                     </option>#}
{#    <option value="132" >#}
{#        Chirurgien viscéral et digestif                                                     </option>#}
{#    <option value="29" >#}
{#        Dentiste  (Dents)                                                    </option>#}
{#    <option value="30" selected>#}
{#        Dermatologue  (Peau)                                                    </option>#}
{#    <option value="31" >#}
{#        Diabétologue                                                     </option>#}
{#    <option value="101" >#}
{#        Diététicien                                                     </option>#}
{#    <option value="43" >#}
{#        Embryologiste                                                     </option>#}
{#    <option value="32" >#}
{#        Endocrinologue                                                     </option>#}
{#    <option value="33" >#}
{#        Endocrinologue Diabétologue                                                     </option>#}
{#    <option value="150" >#}
{#        Endodontiste                                                     </option>#}
{#    <option value="137" >#}
{#        Epidemiologiste                                                     </option>#}
{#    <option value="142" >#}
{#        Ergothérapeute                                                     </option>#}
{#    <option value="35" >#}
{#        Gastro-entérologue                                                     </option>#}
{#    <option value="36" >#}
{#        Généraliste                                                     </option>#}
{#    <option value="117" >#}
{#        Généticien                                                     </option>#}
{#    <option value="102" >#}
{#        Gériatre                                                     </option>#}
{#    <option value="37" >#}
{#        Gynécologue                                                     </option>#}
{#    <option value="39" >#}
{#        Gynécologue Obstétricien                                                     </option>#}
{#    <option value="41" >#}
{#        Hématologue                                                     </option>#}
{#    <option value="42" >#}
{#        Hématologue Clinique                                                     </option>#}
{#    <option value="7" >#}
{#        Hématopathologiste                                                     </option>#}
{#    <option value="110" >#}
{#        Hépatologue  (Foie)                                                    </option>#}
{#    <option value="116" >#}
{#        Hypnothérapeute                                                     </option>#}
{#    <option value="44" >#}
{#        Imagerie Médicale                                                     </option>#}
{#    <option value="45" >#}
{#        Immunologiste                                                     </option>#}
{#    <option value="8" >#}
{#        Immunopathologiste                                                     </option>#}
{#    <option value="152" >#}
{#        Implantologue                                                     </option>#}
{#    <option value="149" >#}
{#        Infirmier                                                     </option>#}
{#    <option value="49" >#}
{#        Interniste                                                     </option>#}
{#    <option value="176" >#}
{#        Interniste Hypertensiologue                                                     </option>#}
{#    <option value="50" >#}
{#        Interniste Maladies Infectieuses                                                     </option>#}
{#    <option value="51" >#}
{#        Interniste Réanimation Médicale                                                     </option>#}
{#    <option value="46" >#}
{#        Kinésithérapeute                                                     </option>#}
{#    <option value="154" >#}
{#        Laboratoire d'analyses de biologie médicale                                                     </option>#}
{#    <option value="155" >#}
{#        Laboratoire d'anatomie et cytologie pathologiques                                                     </option>#}
{#    <option value="156" >#}
{#        Laboratoire de cytogénétique                                                     </option>#}
{#    <option value="173" >#}
{#        Maladies Cardiovasculaire                                                     </option>#}
{#    <option value="47" >#}
{#        Maladies Infectieuses                                                     </option>#}
{#    <option value="59" >#}
{#        Médecin Biologiste                                                     </option>#}
{#    <option value="162" >#}
{#        Médecin de famille                                                     </option>#}
{#    <option value="168" >#}
{#        Médecin du sommeil                                                     </option>#}
{#    <option value="118" >#}
{#        Médecin du sport                                                     </option>#}
{#    <option value="48" >#}
{#        Médecin du Travail                                                     </option>#}
{#    <option value="96" >#}
{#        Médecin Esthétique                                                     </option>#}
{#    <option value="157" >#}
{#        Médecin Hémodialyseur                                                     </option>#}
{#    <option value="123" >#}
{#        Médecin homéopathe                                                     </option>#}
{#    <option value="52" >#}
{#        Médecin Légiste                                                     </option>#}
{#    <option value="53" >#}
{#        Médecin Nucléaire                                                     </option>#}
{#    <option value="55" >#}
{#        Médecin Physique Réadaptateur                                                     </option>#}
{#    <option value="124" >#}
{#        Médecin urgentiste                                                     </option>#}
{#    <option value="125" >#}
{#        Médecine douce et alternative                                                     </option>#}
{#    <option value="126" >#}
{#        Médecine morphologique et anti-âge                                                     </option>#}
{#    <option value="57" >#}
{#        Médecine Préventive                                                     </option>#}
{#    <option value="146" >#}
{#        Médecine tropicale                                                     </option>#}
{#    <option value="9" >#}
{#        Microbiologiste                                                     </option>#}
{#    <option value="61" >#}
{#        Néonatologiste                                                     </option>#}
{#    <option value="62" >#}
{#        Néphrologue                                                     </option>#}
{#    <option value="18" >#}
{#        Neurochirurgien                                                     </option>#}
{#    <option value="64" >#}
{#        Neurologue  (Cerveau et Nerfs)                                                    </option>#}
{#    <option value="171" >#}
{#        Neuropédiatre                                                     </option>#}
{#    <option value="169" >#}
{#        Neurophysiologiste                                                     </option>#}
{#    <option value="127" >#}
{#        Neuropsychiatre                                                     </option>#}
{#    <option value="167" >#}
{#        Neuropsychologue                                                     </option>#}
{#    <option value="159" >#}
{#        Nutrithérapeute                                                     </option>#}
{#    <option value="65" >#}
{#        Nutritionniste                                                     </option>#}
{#    <option value="164" >#}
{#        Oncologue                                                     </option>#}
{#    <option value="145" >#}
{#        Oncologue-Chimiothérapeute                                                     </option>#}
{#    <option value="85" >#}
{#        Oncologue-Radiothérapeute                                                     </option>#}
{#    <option value="66" >#}
{#        Ophtalmologiste  (Yeux)                                                    </option>#}
{#    <option value="128" >#}
{#        Opticien                                                     </option>#}
{#    <option value="67" >#}
{#        Orthodontiste                                                     </option>#}
{#    <option value="68" >#}
{#        Orthopédiste  (Os)                                                    </option>#}
{#    <option value="69" >#}
{#        Orthopédiste Traumatologue                                                     </option>#}
{#    <option value="100" >#}
{#        Orthophoniste                                                     </option>#}
{#    <option value="175" >#}
{#        Orthoprothésiste                                                     </option>#}
{#    <option value="104" >#}
{#        Orthoptiste                                                     </option>#}
{#    <option value="115" >#}
{#        Ostéopathe                                                     </option>#}
{#    <option value="70" >#}
{#        Oto-Rhino-Laryngologiste (ORL)  (Oreille nez gorge)                                                    </option>#}
{#    <option value="71" >#}
{#        Parasitologiste                                                     </option>#}
{#    <option value="119" >#}
{#        Parodontiste implantologiste                                                     </option>#}
{#    <option value="72" >#}
{#        Pédiatre  (Enfant)                                                    </option>#}
{#    <option value="74" >#}
{#        Pédodontiste                                                     </option>#}
{#    <option value="73" >#}
{#        Pédopsychiatre                                                     </option>#}
{#    <option value="166" >#}
{#        Perineologue                                                     </option>#}
{#    <option value="136" >#}
{#        Pharmacien                                                     </option>#}
{#    <option value="97" >#}
{#        Pharmacien Biologiste                                                     </option>#}
{#    <option value="129" >#}
{#        Pharmacologue                                                     </option>#}
{#    <option value="108" >#}
{#        Phlébologue                                                     </option>#}
{#    <option value="76" >#}
{#        Physiologiste                                                     </option>#}
{#    <option value="99" >#}
{#        Physiothérapeute                                                     </option>#}
{#    <option value="134" >#}
{#        Phytothérapeute                                                     </option>#}
{#    <option value="78" >#}
{#        Pneumologue                                                     </option>#}
{#    <option value="107" >#}
{#        Podologue                                                     </option>#}
{#    <option value="138" >#}
{#        Posturologue                                                     </option>#}
{#    <option value="109" >#}
{#        Proctologue                                                     </option>#}
{#    <option value="165" >#}
{#        Prothésiste Capillaire                                                     </option>#}
{#    <option value="103" >#}
{#        Prothésiste dentaire                                                     </option>#}
{#    <option value="113" >#}
{#        Psychanalyste                                                     </option>#}
{#    <option value="93" >#}
{#        Psychiatre  (Troubles mentaux)                                                    </option>#}
{#    <option value="79" >#}
{#        Psychologue                                                     </option>#}
{#    <option value="170" >#}
{#        Psychologue clinicien                                                     </option>#}
{#    <option value="112" >#}
{#        Psychomotricien                                                     </option>#}
{#    <option value="94" >#}
{#        Psychothérapeute                                                     </option>#}
{#    <option value="80" >#}
{#        Radiologue                                                     </option>#}
{#    <option value="84" >#}
{#        Radiothérapeute                                                     </option>#}
{#    <option value="86" >#}
{#        Réanimateur Médical                                                     </option>#}
{#    <option value="135" >#}
{#        Réflexologue                                                     </option>#}
{#    <option value="87" >#}
{#        Rhumatologue                                                     </option>#}
{#    <option value="180" >#}
{#        Rythmologue interventionnel                                                     </option>#}
{#    <option value="130" >#}
{#        Sage femme                                                     </option>#}
{#    <option value="131" >#}
{#        Santé publique et médecine sociale                                                     </option>#}
{#    <option value="147" >#}
{#        Sénologue                                                     </option>#}
{#    <option value="95" >#}
{#        Sexologue                                                     </option>#}
{#    <option value="90" >#}
{#        Stomatologue                                                     </option>#}
{#    <option value="181" >#}
{#        Thérapeute manuel                                                     </option>#}
{#    <option value="148" >#}
{#        Urodynamique                                                     </option>#}
{#    <option value="92" >#}
{#        Urologue                                                     </option>#}
{#    <option value="163" >#}
{#        Vétérinaire                                                     </option>#}
{#</select>#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare</title>
    <link rel="stylesheet" href="{{ asset('css/stylemedecin.css') }}">
    <style>
        /*body {*/
        /*    font-family: Arial, sans-serif;*/
        /*    margin: 0;*/
        /*    padding: 0;*/
        /*}*/

        header {
            background-color: #ffffff;
            /*padding: 0px;*/
            /*text-align: ;*/
        }

        aside {
            background-color: #ffffff;
            border: black solid 1px;
            padding: 20px;
            width: 350px;
            height: 420px;
        }

        aside h2 {
            margin-top: 0;
        }

        aside input[type="text"],
        aside input[type="number"] {
            display: block;
            color: #529CA7;
            margin-bottom: 10px;
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        aside button {
            display: block;
            color: #ffffff;
            background-color:  #529CA7;
            margin-bottom: 10px;
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        section {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
        }

        .doctor-card {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            /*margin: 10px;*/
            margin-left: 40px;
            margin-top: -40px;
            margin-bottom: 60px;
            padding: 20px;
            width: 600px;
            /*height: 400px;*/
            height: 200px;
            box-sizing: border-box;
        }

        .doctor-card img {
            width: 150px;
            height: 150px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .doctor-card h3 {
            margin-top: 0;
        }

        .doctor-card p {
            margin: 5px 0;
        }

        .doctor-card button {
            background-color: #529CA7;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .doctor-card button:hover {
            background-color: #529CA7;
        }
        .section-padding{
            padding: 60px 0px;

        }
        .row_med{
            display: flex;
            margin-left: 5%;
            margin-right: 5%;
        }
        .data{
            margin-top: 10px;
            margin-left: 20px;
            width: 200px;
        }
    </style>
</head>
<body>
<header>
    <img style="height: 500px ; width: 100%" src="https://imageio.forbes.com/specials-images/imageserve/651bbeb1c78cc403f92a6abd/The-10-Biggest-Trends-Revolutionizing-Healthcare-In-2024/0x0.jpg?format=jpg&crop=2500,1405,x0,y0,safe&width=1440" alt="Healthcare Logo">

</header>
<div class="col-md-12" style="margin-top: 60px ; margin-left: 80px">
    <h2 class="ser-title">Notre Doctors</h2>
    <hr class="botm-line">
</div>
<div class="row_med">
    <aside>
        <h2>Filter par</h2>
        <hr style="width: 100%">
{#        <form id="filterForm">#}
{#            <input type="text" name="searchName" placeholder="Search by name">#}
{#            <br style="width: 100%">#}
{#            <input type="text" name="country" placeholder="Country"><br>#}
{#            <input type="text" name="city" placeholder="City"><br>#}
{#            <input type="text" name="specialty" placeholder="Specialty"><br>#}
{#            <input type="number" name="price" placeholder="Prix"><br>#}
{#            <button type="submit">Search</button><br>#}
{#        </form>#}
        {{ form_start(form ,{attr:{novalidate:'novalidate'}}) }}
        {{ form_label(form.specialite) }}
        {{ form_widget(form.specialite) }}
        {{ form_label(form.prix) }}
        {{ form_widget(form.prix) }}
        {{ form_widget(form.search) }}
        {{ form_end(form) }}
    </aside>
    <section id="doctor-team" class="section-padding">

        {% for med in meds %}
        <div class="doctor-card">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="row_med" style="margin-right: -10px ; margin-left: -15px">
                    <img src="https://img.freepik.com/free-photo/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg?size=626&ext=jpg&ga=GA1.1.2007576259.1708250226&semt=sph" alt="..." class="team-img">
                    <div class="row_med" style="margin-right: -10px ; margin-left: -2%">
                        <div class="data">
                            <h3>{{ med.lastName ~ ' ' ~ med.firstName }}</h3>
                            <p>Spaicialite:{{ med.specialite }}</p>
                            <p>addresse:{{ med.address }}</p>
                            <p>Prix:{{ med.prixc }}</p>
                        </div>
                        <button style="margin-left: 110px ; height: 40px">
                            Rendez-vous
                        </button>
                    </div>
                </div>
                <hr>
            <div id="map" style="width: 100%; height: 200px;"></div>
                <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
                    ({key: "AIzaSyDv6lPCYCa53ctV_knpRQM_bE6S_EzUB5o", v: "weekly"});</script>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
<script>
    let map;

    async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");
        map = new Map(document.getElementById("map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8,
        });
    }

    initMap();


    {#{% for med in meds %}#}
    {#new google.maps.Marker(#}{#}#}
    {#    position: {lat:-34.397, lng: 150.644},#}
    {#    map: map,#}
    {#    #}{##}{#title: '{{ medecin.nom }}'#}
    {#});#}
    {#const { Map } = await google.maps.importLibrary("maps");#}

    {#map = new Map(document.getElementById("map"), {#}
    {#    center: { lat: -34.397, lng: 150.644 },#}
    {#    zoom: 8,#}
    {#});#}
    {#{% endfor %}#}
</script>

</body>
</html>
