
{% extends 'user/profilebase.html.twig' %}
{% block body %}
    <main  class="main-content position-relative border-radius-lg">
        <div class="container-fluid py-4 ">
            <div class="row">
                <div class="col-md-8" style="margin-left: 20%">
                    {{ form_start(form ,{attr:{novalidate:'novalidate'}}) }}
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="d-flex align-items-center">
                                <p class="mb-0">Edit Password</p>
                            </div>
                        </div>
                        <div class="card-body">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">New Password</label>
                                        {{ form_widget(form.password ,  {'attr': {'placeholder': 'Enter your Password' , 'class':'form-control'}}) }}
                                        {{ form_errors(form.password) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Confim password</label>
                                        {{  form_widget(form.confirm_password,  {'attr': {'placeholder': 'Enter your Password' , 'class':'form-control'}}) }}
                                        {{ form_errors(form.confirm_password) }}
                                    </div>
                                </div>

                        </div>

                        <button class="change  btn ms-auto" style="color:white; background-color: #529CA7">Save</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>

    <script src="{{ asset('/js/argon-dashboard.min.js') }}"></script>
    <script>
        document.querySelector('.change').addEventListener('click', function() {
            console.log("it's work")
            document.querySelector('form').submit();
        });




    </script>
{%  endblock %}
